body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #fff;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

::-webkit-scrollbar-track {
  background-color: #272727;
}

a {
  color: #000000;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
  outline: none;
}

a.anchor {
  position: relative;
  top: -50px;
  visibility: hidden;
  display: block;
}

a.anchor.api-anchor {
  top: -67px;
}

.row {
  margin: 0;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #fff;
  height: 87px;
  overflow-y: hidden;
  border-radius: 0;
  margin-bottom: 0;
  padding-right: 50px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.navbar .nav {
  float: right;
}

.navbar .navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 4.2em;
  padding: 3px 0 0 22px;
  max-width: none;
  line-height: 70px;
  color: #2e4153;
  -webkit-transition: color 500ms, text-shadow 500ms;
  -moz-transition: color 500ms, text-shadow 500ms;
  -o-transition: color 500ms, text-shadow 500ms;
  transition: color 500ms, text-shadow 500ms;
}

.navbar .navbar-brand.blue {
  color: #2e4153;
}

.navbar .navbar-brand.green {
  color: #2e5335;
}

.navbar .navbar-brand.red {
  color: #5a2a2a;
}

.navbar .navbar-brand.purple {
  color: #432f5e;
}

.navbar .navbar-brand.orange {
  color: #994732;
}

.navbar .navbar-brand.brown {
  color: #4b3b2b;
}

.navbar .nav > li > a {
  font-size: 1.3em;
  padding: 32px 30px;
  color: #535353;
}

.navbar .nav .active a,
.navbar .nav .active a:focus {
  background-color: #1a1a1a;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #2e2e2e;
  background-color: transparent;
}

.github-logo {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.intro {
  text-align: center;
}

.intro {
  margin-top: 20px;
  padding-top: 140px;
  padding-bottom: 110px;
  background-color: #2e4153;
}

.intro .intro-title {
  font-family: 'Fredoka One', cursive;
  font-size: 9em;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.intro .intro-description {
  font-size: 1.4em;
  font-weight: 300;
  max-width: 550px;
  margin: 30px auto 0 auto;
  color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.56);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.56);
}

.intro .intro-label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  color: #f0f0f0;
  text-align: center;
}

.intro .intro-button {
  margin-top: 50px;
  font-size: 1.6em;
  font-weight: 300;
  color: #2e4153;
  cursor: pointer;
  display: inline-block;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 215px;
  text-decoration: none;
}

.intro .intro-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.intro .intro-button:first-child {
  margin-right: 40px;
}

.features {
  background-color: #2e5335;
  padding-top: 55px;
  padding-bottom: 90px;
}

.features .features-title,
.screenshots .screenshots-title,
.install .install-title,
.faq .faq-title,
.api .api-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.features .features-title .title,
.screenshots .screenshots-title .title,
.install .install-title .title,
.faq .faq-title .title,
.api .api-title .title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #fff;
}

.features .features-boxes {
  width: 1030px;
  margin: 0 auto;
  clear: both;
  color: #fff;
}

.features .features-box {
  font-weight: 300;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 5px;
  list-style-type: none;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 220px;
}

.features .features-box.last {
  margin-right: 0;
}

.features .features-box .title {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.features .features-box .description {
  font-size: 1.2em;
  padding: 15px;
  text-align: center;
}

.screenshots {
  padding-top: 55px;
  padding-bottom: 80px;
  background-color: #5a2a2a;
}

.screenshots .screenshots-container {
  width: 940px;
  height: 621px;
  margin: 0 auto;
  display: block;
}

.screenshots img {
  position: absolute;
  width: 940px;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.screenshots img.current {
  opacity: 1;
}

.screenshots .buttons {
  margin: 30px auto 0 auto;
  width: 248px;
  white-space: nowrap;
  cursor: default;
}

.screenshots .button {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.screenshots .button:hover {
  background-color: #fff;
}

.screenshots .button:active {
  background-color: rgba(255, 255, 255, 0.10);;
}

.screenshots .button.current,
.screenshots .button.current:hover {
  background-color: #fff;
}

.install {
  padding-top: 5px;
  padding-bottom: 75px;
  background-color: #432f5e;
}

.install .install-title {
  margin-top: 75px;
  padding-bottom: 0px;
}

.install .install-header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #f0f0f0;
  text-align: center;
}

.install .install-header {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 1.9em;
}

.install pre,
.faq pre,
.api pre {
  padding: 30px 0;
  margin: 10px auto;
  width: 550px;
  color: #ffffff;
  border: none;
  background-color: rgba(255, 255, 255, 0.10);
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #202020;
  text-align: center;
}

.footer a {
  color: #5e5e5e;
}

.footer a:active,
.footer a:hover {
  color: #fff;
}

.install-buttons {
  margin: 0 auto;
  width: 590px;
  white-space: nowrap;
  border-radius: 10px;
  display: block;
}

.install-buttons button,
.install-buttons button:hover,
.install-buttons button.active,
.install-buttons button.active:hover {
  height: 80px;
  width: 33.333333%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  border: 0 none;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: none;
}

.install-buttons button .label {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #5f3496;
}

.install-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.install-buttons button.active,
.install-buttons button.active:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.install-buttons .digital-ocean {
  background-image: url('../img/digital-ocean.png');
}

.install-buttons .linode {
  background-image: url('../img/linode.png');
}

.install-buttons .amazon-aws {
  background-image: url('../img/amazon-aws.png');
}

.install-buttons .ubuntu,
.install-buttons .ubuntu-client {
  background-image: url('../img/ubuntu.png');
}

.install-buttons .arch {
  background-image: url('../img/arch.png');
}

.install-buttons .centos {
  background-image: url('../img/centos.png');
}

.install-buttons .windows-client {
  background-image: url('../img/windows.png');
}

.install-buttons .android-client {
  background-image: url('../img/android.png');
}

.install-point,
.faq-point,
.api-call,
.api-call-list-box {
  clear: both;
  width: 750px;
  padding-top: 30px;
  margin: 0 auto;
}

.api-call,
.api-call-list-box {
  width: 1207px;
}

.api-call.first,
.api-call-list-box {
  padding-top: 0;
}

.install-point-label,
.faq-point-label {
  width: 50px;
  height: 50px;
  padding-top: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #f0f0f0;
  font-size: 1.8em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  vertical-align: top;
  display: table-cell;
}

.faq-point.question .faq-point-label {
  border-bottom-left-radius: 0;
}

.faq-point.answer .faq-point-label {
  border-top-left-radius: 0;
}

.install-point-description,
.faq-point-description,
.api-call-description {
  font-weight: 300;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #f0f0f0;
  font-size: 1.2em;
  padding: 13px;
  display: table-cell;
}

.api-call.endpoint .api-call-description {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  float: right;
}

.api-call.info .api-call-description {
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  float: right;
}

.faq-point.question .faq-point-description {
  border-bottom-right-radius: 0;
}

.faq-point.answer .faq-point-description {
  border-top-right-radius: 0;
}

.install-point-description,
.question .faq-point-description {
  height: 50px;
}

.api-call-description {
  width: 705px;
  margin-right: 187px;
}

.api-call-description .text {
  margin-bottom: 10px;
}

.api-call-description .table th {
  font-weight: 400;
}

.faq-point.question .faq-point-description,
.api-call.endpoint .api-call-description {
  font-size: 1.8em;
  padding: 8px 13px;
  background-color: rgba(0, 0, 0, 0.35);
  white-space: nowrap;
}

.faq-point.answer,
.api-call.info {
  padding-top: 0;
}

.api-call .table tbody tr td:first-child {
  font-weight: 400;
  width: 200px;
}

.api-call-list {
  margin: 0 10px;
  position: absolute;
  list-style-type: none;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
  font-size: 0.7em;
  width: 295px;
  float: left;
}

.api-call-list li a {
  color: #c6c6c6;
}

.api-call-list li a:hover {
  color: #fff;
  text-decoration: none;
}

.api-call-list .list-title {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}

.faq-point.question .faq-point-label {
  background-color: rgba(0, 0, 0, 0.3);
}

.faq-point.answer .faq-point-label {
  background-color: rgba(94, 94, 94, 0.35);
}

.linode-instructions,
.amazon-aws-instructions,
.arch-instructions,
.centos-instructions,
.windows-client-instructions,
.android-client-instructions {
  display: none;
}

.install-point-description pre,
.faq-point-description pre,
.api-call-description pre {
  position: relative;
  top: -2px;
  display: inline;
  padding: 4px 4px 2px 4px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.conf-instructions .install-point:first-child,
.faq .faq-point:first-child,
.api .api-call:first-child {
  padding-top: 0;
}

.install a {
  color: #9cc7fd;
}

.faq {
  padding-top: 55px;
  padding-bottom: 75px;
  background-color: #994732;
}

.api {
  padding-top: 55px;
  padding-bottom: 75px;
  background-color: #4b3b2b;
}

.editor {
  width: 100%;
  display: none;
}

.editor-title {
  width: 100%;
  font-weight: 400;
  padding: 0 8px 8px 8px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 5px;
  display: inline-block;
}

.ace_scrollbar {
    display: none !important;
}

.ace_scroller {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
